// =============================================================================
//
// Global
//
// =============================================================================

body {
    font-family: $Open-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}   

a, .btn-link { 
}
 
// =============================================================================
//
// MAIN CONTENT
//
// =============================================================================
